= semantic_form_for [@presidente] do |form|
  = form.input :nome, :label => 'Nome'
  = form.input :telefone, :label => 'Telefone'
  = form.input :endereco, :label => 'Endereco'
  = form.input :data, :label => 'Data'
  = form.submit 'Salvar'
