= semantic_form_for [@regleite] do |form|

  = form.input :presidente, :member_label => :nome, :label => 'Presidente'
  = form.input :cooperado, :member_label => :nome, :label => 'Cooperado'
  = form.input :qtdleite, :label => 'Qtdleite'
  = form.input :semana, :label => 'Semana'
  = form.submit 'Salvar'
