<p id="notice"><%= notice %></p>

<p>
  <b>Presidente:</b>
  <%= @regtransporte.presidente.nome %>
</p>

<p>
  <b>Funcionario:</b>
  <%= @regtransporte.funcionario.nome %>
</p>

<p>
  <b>Transporte:</b>
  <%= @regtransporte.transporte.placa %>
</p>

<p>
  <b>Produto:</b>
  <%= @regtransporte.produto.nome %>
</p>


<%= link_to 'Edit', edit_regtransporte_path(@regtransporte) %> |
<%= link_to 'Back', regtransportes_path %>
