= semantic_form_for [@funcionario] do |form|
  = form.input :nome, :label => 'Nome'
  = form.input :telefone, :label => 'Telefone'
  = form.input :endereco, :label => 'Endereco'
  = form.input :atribuicao, :label => 'Atribuicao'
  = form.input :salario, :label => 'Salario'
  = form.submit 'Salvar'
