<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : BlackPolish 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20121026

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Sistema Cooperativa</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Sistema Cooperativa</a></h1>
			</div>
			<div id="menu">
				<ul>
							
					<li><%= link_to 'Presidente' , presidentes_path %></li>
					<li><%= link_to 'Cooperado' , cooperados_path %></li>
					<li><%= link_to 'Produtos' , produtos_path %></li>
					<li><%= link_to 'Funcionarios' , funcionarios_path %></li>
					<li><%= link_to 'Transporte' , transportes_path %></li>
					<li><%= link_to 'Registro de Leite' , regleites_path %></li>
					<li><%= link_to 'Registro do Transporte' , regtransportes_path %></li>
				</ul>
			</div>
		</div>
		<div id="banner">
			<div class="content">
				<div><img src="images/img02.jpg" width="1000" height="400" alt="" /></div> 
			</div>
		<%= yield %>
			<div style='clear: both;'> </div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div class="post">
			<h2 class="title"><a href="#">Bem-Vindo ao Sistema Cooperativa </a></h2>
			<div class="entry">
				<p>Este Sistema de <strong>Cooperativa</strong> tem a função de Gerenciar um Cooperativa Leitera com Presidentes, Cooperados, Funcionários, Transporte, Produtos e possui um registro de Leite coletado semanalmente e um Registro do Transporte levando cada produto feito nesta Cooperativa</p>
			</div>
		</div>
	</div>
	<!-- end #page --> 
	
	<p>Copyright (c) 2012 Sitename.com. All rights reserved. Images by <a href="http://fotogrph.com/">Fotogrph</a>. Design by <a href="http://www.freecsstemplates.org">FCT</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
